In [1]:
import pandas as pd
import numpy as np

lms = pd.read_csv("/Users/dieciseis/Downloads/Learning_Data_Analyst_Dataset.csv")

In [4]:
lms.head()

,Employee ID,Location,Location Type,Job Type,Training Program,Assignment Type,Content Source,Content Vendor,Assignment Date,Due Date,...,Expected Course Time (Minutes),Actual Course Time (Minutes),Assessment Score,Reassignment Count,Delivery Method,Training Engagement Score,Training Hours Logged,Cost per Learner,Manager ID,Training Feedback Rating
0,E1007,Pasadena,Office,Manager,Delegation,Assigned by Manager,ACCO,Traliant (Harassment Prevention),12/26/24,3/11/25,...,20,22.0,60.0,0,Instructor-Led,4.23,9.33,394.75,M47,1.7
1,E1120,Boise,Field,Manager,Harassment Prevention,Assigned by Self,OpenSesame,Traliant (Harassment Prevention),1/1/25,3/5/25,...,30,35.0,50.0,0,Hybrid,7.83,7.67,371.54,M7,1.4
2,E1075,Seattle,Office,IC,Leadership Essentials,Assigned by Self,Ninjio,Lynda.com,11/18/24,2/15/25,...,40,45.0,69.0,0,Instructor-Led,5.59,3.07,467.85,M28,4.9
3,E1041,Boise,Office,IC,Safety Training,Assigned by Self,ACCO,Ally Safety (Safety),12/1/24,2/1/25,...,45,50.0,81.0,0,Hybrid,5.82,6.83,441.27,M28,3.1
4,E1079,Pasadena,Shop,Manager,Technical Skills,Assigned by Registrar Desktop,OpenSesame,Traliant (Harassment Prevention),12/26/24,1/8/25,...,60,65.0,70.0,0,Hybrid,5.45,6.93,361.97,M39,3.8

In [9]:
lms.shape
#150 rows w 24 cols

lms.info()
#"object" base data type that can later be further specified
    #float64 = decimal
    #int54 = integer (whole num)

#output shows completion data, time to completion, actual course time, assessment score, & feedback rating have missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Employee ID                     150 non-null    object
 1   Location                        150 non-null    object
 2   Location Type                   150 non-null    object
 3   Job Type                        150 non-null    object
 4   Training Program                150 non-null    object
 5   Assignment Type                 150 non-null    object
 6   Content Source                  150 non-null    object
 7   Content Vendor                  150 non-null    object
 8   Assignment Date                 150 non-null    object
 9   Due Date                        150 non-null    object
 10  Completion Date                 114 non-null    object
 11  Completion Status               150 non-null    object
 12  Time to Completion (Days)       114 non-null    float64
 13  Completion Rate                 150 non-null    float64
 14  Expected Course Time (Minutes)  150 non-null    int64
 15  Actual Course Time (Minutes)    114 non-null    float64
 16  Assessment Score                114 non-null    float64
 17  Reassignment Count              150 non-null    int64
 18  Delivery Method                 150 non-null    object
 19  Training Engagement Score       150 non-null    float64
 20  Training Hours Logged           150 non-null    float64
 21  Cost per Learner                150 non-null    float64
 22  Manager ID                      150 non-null    object
 23  Training Feedback Rating        116 non-null    float64
dtypes: float64(8), int64(2), object(14)
memory usage: 28.3+ KB

In [17]:
lms.describe() #produces data frame
lms['Training Engagement Score'].describe() #produces series

count    150.000000
mean       5.057733
std        2.805093
min        0.140000
25%        2.785000
50%        5.455000
75%        7.310000
max        9.960000
Name: Training Engagement Score, dtype: float64

Steps for Processing Data (Before Analysis)

1. Recode data types (floats to Categoricals) <br>
    a. (Location, Location Type, Training Program, Assignment Type, Content Source, Content Vendor, Completion Status, Delivery Method) <br>
        &nbsp;&nbsp;i. Recode categories to one word (Assignment Type, Content Vendor)
2. Recode date columns (Assignment Date, Due Date, Completion Date)
3. Create 'Days Overdue' Column (Related to NAs)
    a. Script: "if days overdue then 'Completion Date' = 'Due Date'" (should replace 2 NAs)

STEP 1: RECODING COLUMN TYPES TO CATEGORICALS <br>

RECODING INDIVIDUAL COLUMNS:

In [ ]:
#veryfying approach works
cat_cols = lms['Location']
unique_cities = cat_cols.unique()
print(unique_cities)

#RECODING LOCATION
lms['Location'] = lms['Location'].astype('category')

lms.info()
len(lms['Location'].cat.categories)
len(lms['Location'].cat.categories) == len(unique_cities)

In [61]:
#VERIFYING NUMBER OF CATEGORIES
cat_loctype = lms['Location Type']
unique_loctype =cat_loctype.unique()
print(unique_loctype)

#RECODING LOCATION TYPE
lms['Location Type'] = lms['Location Type'].astype('category')
lms.info()
len(lms['Location Type'].cat.categories) == len(unique_loctype)

['Office' 'Field' 'Shop']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Employee ID                     150 non-null    object
 1   Location                        150 non-null    category
 2   Location Type                   150 non-null    category
 3   Job Type                        150 non-null    object
 4   Training Program                150 non-null    object
 5   Assignment Type                 150 non-null    object
 6   Content Source                  150 non-null    object
 7   Content Vendor                  150 non-null    object
 8   Assignment Date                 150 non-null    object
 9   Due Date                        150 non-null    object
 10  Completion Date                 114 non-null    object
 11  Completion Status               150 non-null    object
 12  Time to Completion (Days)       114 non-null    float64
 13  Completion Rate                 150 non-null    float64
 14  Expected Course Time (Minutes)  150 non-null    int64
 15  Actual Course Time (Minutes)    114 non-null    float64
 16  Assessment Score                114 non-null    float64
 17  Reassignment Count              150 non-null    int64
 18  Delivery Method                 150 non-null    object
 19  Training Engagement Score       150 non-null    float64
 20  Training Hours Logged           150 non-null    float64
 21  Cost per Learner                150 non-null    float64
 22  Manager ID                      150 non-null    object
 23  Training Feedback Rating        116 non-null    float64
dtypes: category(2), float64(8), int64(2), object(12)
memory usage: 26.7+ KB

True

In [63]:
#VERIFYING JOB TYPE CATS
cat_jtype = lms['Job Type']
unique_jtype =cat_jtype.unique()
print(unique_jtype)

lms['Job Type'] = lms['Job Type'].astype('category')
lms.info()
len(lms['Job Type'].cat.categories) == len(unique_jtype)

['Manager' 'IC']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Employee ID                     150 non-null    object
 1   Location                        150 non-null    category
 2   Location Type                   150 non-null    category
 3   Job Type                        150 non-null    category
 4   Training Program                150 non-null    object
 5   Assignment Type                 150 non-null    object
 6   Content Source                  150 non-null    object
 7   Content Vendor                  150 non-null    object
 8   Assignment Date                 150 non-null    object
 9   Due Date                        150 non-null    object
 10  Completion Date                 114 non-null    object
 11  Completion Status               150 non-null    object
 12  Time to Completion (Days)       114 non-null    float64
 13  Completion Rate                 150 non-null    float64
 14  Expected Course Time (Minutes)  150 non-null    int64
 15  Actual Course Time (Minutes)    114 non-null    float64
 16  Assessment Score                114 non-null    float64
 17  Reassignment Count              150 non-null    int64
 18  Delivery Method                 150 non-null    object
 19  Training Engagement Score       150 non-null    float64
 20  Training Hours Logged           150 non-null    float64
 21  Cost per Learner                150 non-null    float64
 22  Manager ID                      150 non-null    object
 23  Training Feedback Rating        116 non-null    float64
dtypes: category(3), float64(8), int64(2), object(11)
memory usage: 25.8+ KB

True

<br>

RECODING COLUMNS WITH A LOOP

In [66]:
#CREATING A LOOP FOR CHANGING DATA TYPE
for col in lms.columns:
    if lms[col].dtype == 'object':
        lms[col] = lms[col].astype('category')
    else:
        pass
    print(lms.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Employee ID                     150 non-null    category
 1   Location                        150 non-null    category
 2   Location Type                   150 non-null    category
 3   Job Type                        150 non-null    category
 4   Training Program                150 non-null    object
 5   Assignment Type                 150 non-null    object
 6   Content Source                  150 non-null    object
 7   Content Vendor                  150 non-null    object
 8   Assignment Date                 150 non-null    object
 9   Due Date                        150 non-null    object
 10  Completion Date                 114 non-null    object
 11  Completion Status               150 non-null    object
 12  Time to Completion (Days)       114 non-null    float64
 13  Completion Rate                 150 non-null    float64
 14  Expected Course Time (Minutes)  150 non-null    int64
 15  Actual Course Time (Minutes)    114 non-null    float64
 16  Assessment Score                114 non-null    float64
 17  Reassignment Count              150 non-null    int64
 18  Delivery Method                 150 non-null    object
 19  Training Engagement Score       150 non-null    float64
 20  Training Hours Logged           150 non-null    float64
 21  Cost per Learner                150 non-null    float64
 22  Manager ID                      150 non-null    object
 23  Training Feedback Rating        116 non-null    float64
dtypes: category(4), float64(8), int64(2), object(10)
memory usage: 30.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Employee ID                     150 non-null    category
 1   Location                        150 non-null    category
 2   Location Type                   150 non-null    category
 3   Job Type                        150 non-null    category
 4   Training Program                150 non-null    object
 5   Assignment Type                 150 non-null    object
 6   Content Source                  150 non-null    object
 7   Content Vendor                  150 non-null    object
 8   Assignment Date                 150 non-null    object
 9   Due Date                        150 non-null    object
 10  Completion Date                 114 non-null    object
 11  Completion Status               150 non-null    object
 12  Time to Completion (Days)       114 non-null    float64
 13  Completion Rate                 150 non-null    float64
 14  Expected Course Time (Minutes)  150 non-null    int64
 15  Actual Course Time (Minutes)    114 non-null    float64
 16  Assessment Score                114 non-null    float64
 17  Reassignment Count              150 non-null    int64
 18  Delivery Method                 150 non-null    object
 19  Training Engagement Score       150 non-null    float64
 20  Training Hours Logged           150 non-null    float64
 21  Cost per Learner                150 non-null    float64
 22  Manager ID                      150 non-null    object
 23  Training Feedback Rating        116 non-null    float64
dtypes: category(4), float64(8), int64(2), object(10)
memory usage: 30.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Employee ID                     150 non-null    category
 1   Location                        150 non-null    category
 2   Location Type                   150 non-null    category
 3   Job Type                        150 non-null    category
 4   Training Program                150 non-null    object
 5   Assignment Type                 150 non-null    object
 6   Content Source                  150 non-null    object
 7   Content Vendor                  150 non-null    object
 8   Assignment Date                 150 non-null    object
 9   Due Date                        150 non-null    object
 10  Completion Date                 114 non-null    object
 11  Completion Status               150 non-null    object
 12  Time to Completion (Days)       114 non-null    float64
 13  Completion Rate                 150 non-null    float64
 14  Expected Course Time (Minutes)  150 non-null    int64
 15  Actual Course Time (Minutes)    114 non-null    float64
 16  Assessment Score                114 non-null    float64
 17  Reassignment Count              150 non-null    int64
 18  Delivery Method                 150 non-null    object
 19  Training Engagement Score       150 non-null    float64
 20  Training Hours Logged           150 non-null    float64
 21  Cost per Learner                150 non-null    float64
 22  Manager ID                      150 non-null    object
 23  Training Feedback Rating        116 non-null    float64
dtypes: category(4), float64(8), int64(2), object(10)
memory usage: 30.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Employee ID                     150 non-null    category
 1   Location                        150 non-null    category
 2   Location Type                   150 non-null    category
 3   Job Type                        150 non-null    category
 4   Training Program                150 non-null    object
 5   Assignment Type                 150 non-null    object
 6   Content Source                  150 non-null    object
 7   Content Vendor                  150 non-null    object
 8   Assignment Date                 150 non-null    object
 9   Due Date                        150 non-null    object
 10  Completion Date                 114 non-null    object
 11  Completion Status               150 non-null    object
 12  Time to Completion (Days)       114 non-null    float64
 13  Completion Rate                 150 non-null    float64
 14  Expected Course Time (Minutes)  150 non-null    int64
 15  Actual Course Time (Minutes)    114 non-null    float64
 16  Assessment Score                114 non-null    float64
 17  Reassignment Count              150 non-null    int64
 18  Delivery Method                 150 non-null    object
 19  Training Engagement Score       150 non-null    float64
 20  Training Hours Logged           150 non-null    float64
 21  Cost per Learner                150 non-null    float64
 22  Manager ID                      150 non-null    object
 23  Training Feedback Rating        116 non-null    float64
dtypes: category(4), float64(8), int64(2), object(10)
memory usage: 30.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Employee ID                     150 non-null    category
 1   Location                        150 non-null    category
 2   Location Type                   150 non-null    category
 3   Job Type                        150 non-null    category
 4   Training Program                150 non-null    category
 5   Assignment Type                 150 non-null    object
 6   Content Source                  150 non-null    object
 7   Content Vendor                  150 non-null    object
 8   Assignment Date                 150 non-null    object
 9   Due Date                        150 non-null    object
 10  Completion Date                 114 non-null    object
 11  Completion Status               150 non-null    object
 12  Time to Completion (Days)       114 non-null    float64
 13  Completion Rate                 150 non-null    float64
 14  Expected Course Time (Minutes)  150 non-null    int64
 15  Actual Course Time (Minutes)    114 non-null    float64
 16  Assessment Score                114 non-null    float64
 17  Reassignment Count              150 non-null    int64
 18  Delivery Method                 150 non-null    object
 19  Training Engagement Score       150 non-null    float64
 20  Training Hours Logged           150 non-null    float64
 21  Cost per Learner                150 non-null    float64
 22  Manager ID                      150 non-null    object
 23  Training Feedback Rating        116 non-null    float64
dtypes: category(5), float64(8), int64(2), object(9)
memory usage: 29.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Employee ID                     150 non-null    category
 1   Location                        150 non-null    category
 2   Location Type                   150 non-null    category
 3   Job Type                        150 non-null    category
 4   Training Program                150 non-null    category
 5   Assignment Type                 150 non-null    category
 6   Content Source                  150 non-null    object
 7   Content Vendor                  150 non-null    object
 8   Assignment Date                 150 non-null    object
 9   Due Date                        150 non-null    object
 10  Completion Date                 114 non-null    object
 11  Completion Status               150 non-null    object
 12  Time to Completion (Days)       114 non-null    float64
 13  Completion Rate                 150 non-null    float64
 14  Expected Course Time (Minutes)  150 non-null    int64
 15  Actual Course Time (Minutes)    114 non-null    float64
 16  Assessment Score                114 non-null    float64
 17  Reassignment Count              150 non-null    int64
 18  Delivery Method                 150 non-null    object
 19  Training Engagement Score       150 non-null    float64
 20  Training Hours Logged           150 non-null    float64
 21  Cost per Learner                150 non-null    float64
 22  Manager ID                      150 non-null    object
 23  Training Feedback Rating        116 non-null    float64
dtypes: category(6), float64(8), int64(2), object(8)
memory usage: 28.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Employee ID                     150 non-null    category
 1   Location                        150 non-null    category
 2   Location Type                   150 non-null    category
 3   Job Type                        150 non-null    category
 4   Training Program                150 non-null    category
 5   Assignment Type                 150 non-null    category
 6   Content Source                  150 non-null    category
 7   Content Vendor                  150 non-null    object
 8   Assignment Date                 150 non-null    object
 9   Due Date                        150 non-null    object
 10  Completion Date                 114 non-null    object
 11  Completion Status               150 non-null    object
 12  Time to Completion (Days)       114 non-null    float64
 13  Completion Rate                 150 non-null    float64
 14  Expected Course Time (Minutes)  150 non-null    int64
 15  Actual Course Time (Minutes)    114 non-null    float64
 16  Assessment Score                114 non-null    float64
 17  Reassignment Count              150 non-null    int64
 18  Delivery Method                 150 non-null    object
 19  Training Engagement Score       150 non-null    float64
 20  Training Hours Logged           150 non-null    float64
 21  Cost per Learner                150 non-null    float64
 22  Manager ID                      150 non-null    object
 23  Training Feedback Rating        116 non-null    float64
dtypes: category(7), float64(8), int64(2), object(7)
memory usage: 27.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Employee ID                     150 non-null    category
 1   Location                        150 non-null    category
 2   Location Type                   150 non-null    category
 3   Job Type                        150 non-null    category
 4   Training Program                150 non-null    category
 5   Assignment Type                 150 non-null    category
 6   Content Source                  150 non-null    category
 7   Content Vendor                  150 non-null    category
 8   Assignment Date                 150 non-null    object
 9   Due Date                        150 non-null    object
 10  Completion Date                 114 non-null    object
 11  Completion Status               150 non-null    object
 12  Time to Completion (Days)       114 non-null    float64
 13  Completion Rate                 150 non-null    float64
 14  Expected Course Time (Minutes)  150 non-null    int64
 15  Actual Course Time (Minutes)    114 non-null    float64
 16  Assessment Score                114 non-null    float64
 17  Reassignment Count              150 non-null    int64
 18  Delivery Method                 150 non-null    object
 19  Training Engagement Score       150 non-null    float64
 20  Training Hours Logged           150 non-null    float64
 21  Cost per Learner                150 non-null    float64
 22  Manager ID                      150 non-null    object
 23  Training Feedback Rating        116 non-null    float64
dtypes: category(8), float64(8), int64(2), object(6)
memory usage: 27.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Employee ID                     150 non-null    category
 1   Location                        150 non-null    category
 2   Location Type                   150 non-null    category
 3   Job Type                        150 non-null    category
 4   Training Program                150 non-null    category
 5   Assignment Type                 150 non-null    category
 6   Content Source                  150 non-null    category
 7   Content Vendor                  150 non-null    category
 8   Assignment Date                 150 non-null    category
 9   Due Date                        150 non-null    object
 10  Completion Date                 114 non-null    object
 11  Completion Status               150 non-null    object
 12  Time to Completion (Days)       114 non-null    float64
 13  Completion Rate                 150 non-null    float64
 14  Expected Course Time (Minutes)  150 non-null    int64
 15  Actual Course Time (Minutes)    114 non-null    float64
 16  Assessment Score                114 non-null    float64
 17  Reassignment Count              150 non-null    int64
 18  Delivery Method                 150 non-null    object
 19  Training Engagement Score       150 non-null    float64
 20  Training Hours Logged           150 non-null    float64
 21  Cost per Learner                150 non-null    float64
 22  Manager ID                      150 non-null    object
 23  Training Feedback Rating        116 non-null    float64
dtypes: category(9), float64(8), int64(2), object(5)
memory usage: 31.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Employee ID                     150 non-null    category
 1   Location                        150 non-null    category
 2   Location Type                   150 non-null    category
 3   Job Type                        150 non-null    category
 4   Training Program                150 non-null    category
 5   Assignment Type                 150 non-null    category
 6   Content Source                  150 non-null    category
 7   Content Vendor                  150 non-null    category
 8   Assignment Date                 150 non-null    category
 9   Due Date                        150 non-null    category
 10  Completion Date                 114 non-null    object
 11  Completion Status               150 non-null    object
 12  Time to Completion (Days)       114 non-null    float64
 13  Completion Rate                 150 non-null    float64
 14  Expected Course Time (Minutes)  150 non-null    int64
 15  Actual Course Time (Minutes)    114 non-null    float64
 16  Assessment Score                114 non-null    float64
 17  Reassignment Count              150 non-null    int64
 18  Delivery Method                 150 non-null    object
 19  Training Engagement Score       150 non-null    float64
 20  Training Hours Logged           150 non-null    float64
 21  Cost per Learner                150 non-null    float64
 22  Manager ID                      150 non-null    object
 23  Training Feedback Rating        116 non-null    float64
dtypes: category(10), float64(8), int64(2), object(4)
memory usage: 35.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Employee ID                     150 non-null    category
 1   Location                        150 non-null    category
 2   Location Type                   150 non-null    category
 3   Job Type                        150 non-null    category
 4   Training Program                150 non-null    category
 5   Assignment Type                 150 non-null    category
 6   Content Source                  150 non-null    category
 7   Content Vendor                  150 non-null    category
 8   Assignment Date                 150 non-null    category
 9   Due Date                        150 non-null    category
 10  Completion Date                 114 non-null    category
 11  Completion Status               150 non-null    object
 12  Time to Completion (Days)       114 non-null    float64
 13  Completion Rate                 150 non-null    float64
 14  Expected Course Time (Minutes)  150 non-null    int64
 15  Actual Course Time (Minutes)    114 non-null    float64
 16  Assessment Score                114 non-null    float64
 17  Reassignment Count              150 non-null    int64
 18  Delivery Method                 150 non-null    object
 19  Training Engagement Score       150 non-null    float64
 20  Training Hours Logged           150 non-null    float64
 21  Cost per Learner                150 non-null    float64
 22  Manager ID                      150 non-null    object
 23  Training Feedback Rating        116 non-null    float64
dtypes: category(11), float64(8), int64(2), object(3)
memory usage: 39.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Employee ID                     150 non-null    category
 1   Location                        150 non-null    category
 2   Location Type                   150 non-null    category
 3   Job Type                        150 non-null    category
 4   Training Program                150 non-null    category
 5   Assignment Type                 150 non-null    category

In [67]:
#Emplyoee ID was changed by loop; applying original dtype
unique_employee = lms['Employee ID'].unique()
len(unique_employee)

lms['Employee ID'] = lms['Employee ID'].astype('object')
lms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Employee ID                     150 non-null    object
 1   Location                        150 non-null    category
 2   Location Type                   150 non-null    category
 3   Job Type                        150 non-null    category
 4   Training Program                150 non-null    category
 5   Assignment Type                 150 non-null    category
 6   Content Source                  150 non-null    category
 7   Content Vendor                  150 non-null    category
 8   Assignment Date                 150 non-null    category
 9   Due Date                        150 non-null    category
 10  Completion Date                 114 non-null    category
 11  Completion Status               150 non-null    category
 12  Time to Completion (Days)       114 non-null    float64
 13  Completion Rate                 150 non-null    float64
 14  Expected Course Time (Minutes)  150 non-null    int64
 15  Actual Course Time (Minutes)    114 non-null    float64
 16  Assessment Score                114 non-null    float64
 17  Reassignment Count              150 non-null    int64
 18  Delivery Method                 150 non-null    category
 19  Training Engagement Score       150 non-null    float64
 20  Training Hours Logged           150 non-null    float64
 21  Cost per Learner                150 non-null    float64
 22  Manager ID                      150 non-null    category
 23  Training Feedback Rating        116 non-null    float64
dtypes: category(13), float64(8), int64(2), object(1)
memory usage: 33.9+ KB

In [78]:
#RECODING CONTENT SOURCE
unique_manager = lms['Manager ID'].unique()
len(unique_manager)
#KEEP AS CATEGORY

49

<br>

STEP 1a: RECODING CATEGORY LABELS TO 1 WORD

In [9]:
lms['Assignment Type'].unique()

lms['Assignment Type'] = lms['Assignment Type'].replace({
    'Assigned by Manager' : 'Manager',
    'Assigned by Self' : 'Self',
    'Assigned by Registrar Desktop' : 'Registrar',
    'Prescriptive Rule' : 'Prescriptive'})

lms['Assignment Type'].unique()

array(['Manager', 'Self', 'Registrar', 'Prescriptive'], dtype=object)

In [11]:
lms['Content Vendor'].unique()

lms['Content Vendor'] = lms['Content Vendor'].replace({
    'Traliant (Harassment Prevention)' : 'Traliant',
    'Ally Safety (Safety)' : 'Ally Safety',
    'Jeff Havens (Safety)' : 'Jeff Havens',
    'Ninjio (Cyber Security)' : 'Ninjio'})

lms['Content Vendor'].unique()

array(['Traliant', 'Lynda.com', 'Ally Safety', 'LinkedIn Learning',
       'Udemy', 'ACCO BIM', 'Skillsoft', 'Jeff Havens', 'Ninjio',
       'Coursera', 'ACCO Training', 'BizLibrary', 'Go1',
       'Infosec Institute'], dtype=object)

STEP 2: CHANGING DATA TYPES TO DATE-TIME

In [15]:
lms['Assignment Date'] = pd.to_datetime(
    lms['Assignment Date'],
    dayfirst=False,
    yearfirst=False,
    format='%m/%d/%y')

print(lms['Assignment Date'].dtype)
print(lms['Assignment Date'].head)

datetime64[ns]
<bound method NDFrame.head of 0     2024-12-26
1     2025-01-01
2     2024-11-18
3     2024-12-01
4     2024-12-26
         ...
145   2024-04-28
146   2024-06-29
147   2024-08-31
148   2024-01-02
149   2024-01-31
Name: Assignment Date, Length: 150, dtype: datetime64[ns]>

In [16]:
lms['Due Date'] = pd.to_datetime(
    lms['Due Date'],
    dayfirst=False,
    yearfirst=False,
    format='%m/%d/%y')

print(lms['Due Date'].dtype)
print(lms['Due Date'].head)

datetime64[ns]
<bound method NDFrame.head of 0     2025-03-11
1     2025-03-05
2     2025-02-15
3     2025-02-01
4     2025-01-08
         ...
145   2024-06-06
146   2024-07-28
147   2024-11-21
148   2024-03-11
149   2024-04-27
Name: Due Date, Length: 150, dtype: datetime64[ns]>

In [17]:
lms['Completion Date'] = pd.to_datetime(
    lms['Completion Date'],
    dayfirst=False,
    yearfirst=False,
    format='%m/%d/%y'
)

print(lms['Completion Date'].dtype)
print(lms['Completion Date'].head)

datetime64[ns]
<bound method NDFrame.head of 0     2025-02-21
1     2025-01-21
2     2025-01-12
3     2025-01-08
4     2025-01-07
         ...
145          NaT
146          NaT
147          NaT
148          NaT
149          NaT
Name: Completion Date, Length: 150, dtype: datetime64[ns]>

STEP 3: CREATING DAYS OVERDUE COLUMN

In [25]:
lms['Days Overdue'] = np.where(
    ((lms['Completion Status'].isin(['Overdue', 'In Progress'])) & (lms['Completion Date'].isna())),
    # completion status either overdue or ip & comp date is missing
    (lms['Due Date'] - lms['Assignment Date']).dt.days,
    #subtract days
    np.where(
        (lms['Completion Date'].notna()) & (lms['Completion Date'] > lms['Due Date']),
        # late if completion date greater than due date
        (lms['Completion Date'] - lms['Due Date']).dt.days,
        # value assigned to late comps
        0
    )
)

(lms['Days Overdue'] == 0).sum()
#matches count in Excel

np.int64(116)

**DATA IS MISSING AT RANDOM (MAR) AKA MISSINGNESS RELATED TO OBSERVED VARIABLES**